<a href="https://colab.research.google.com/github/brigidahuarcaya/Lenguaje-de-Programacion/blob/main/duplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=(2, 4, 6, 8, 10,)
print(a)
b=(5,"juan",10.4,"A",-5.2)
print(b)

(2, 4, 6, 8, 10)
(5, 'juan', 10.4, 'A', -5.2)

In [15]:
tup =(1,['¿cuantos años tienes?'],25,'años')
print(tup)
# Este tupla contiene un número, una pregunta en español dentro de una lista, una edad, y la palabra 'años' en español.

(1, ['¿cuantos años tienes?'], 25, 'años')

In [3]:
a=len((5, "a", 10, 11.55))
print(a)

4

In [20]:
a = ('juan', 'teresa', 'jasinto', 'maria', 'juana', 'marcos','antonio', 'nora')
print(a)
print(a[2])
print(a[5])
print(a[1])
print(a[7])

('juan', 'teresa', 'jasinto', 'maria', 'juana', 'marcos', 'antonio', 'nora')
jasinto
marcos
teresa
nora

In [21]:
a = ("manzana", "platano", "cereza", "datil", "uva", "kiwi")
print(a[1:4])
print(a[:])
print(a[3:1])
print(a[:2])

('platano', 'cereza', 'datil')
('manzana', 'platano', 'cereza', 'datil', 'uva', 'kiwi')
()
('manzana', 'platano')

In [22]:
paises = ["México", "Perú", "Chile", "México", "Argentina", "Chile", "México", "Perú"]

print("Lista de países:", paises)

# Contar cuántas veces aparece cada uno
print("México aparece:", paises.count("México"), "veces")
print("Perú aparece:", paises.count("Perú"), "veces")
print("Chile aparece:", paises.count("Chile"), "veces")
print("Argentina aparece:", paises.count("Argentina"), "veces")
print("Brasil aparece:", paises.count("Brasil"), "veces")

Lista de países: ['México', 'Perú', 'Chile', 'México', 'Argentina', 'Chile', 'México', 'Perú']
México aparece: 3 veces
Perú aparece: 2 veces
Chile aparece: 2 veces
Argentina aparece: 1 veces
Brasil aparece: 0 veces

In [23]:
nombres = ["karina", "brigida", "carlos", "habraam", "Luis", "Sofía", "Ana"]

print("Lista de nombres:", nombres)

# Obtener el índice de algunos nombres
print("El índice de 'karina' es:", nombres.index("karina"))
print("El índice de 'carlos' es:", nombres.index("carlos"))
print("El índice de 'brigida' es:", nombres.index("brigida"))
print("El índice de 'Sofía' es:", nombres.index("Sofía"))

# Ejemplo de búsqueda en un rango (entre índices 2 y 6)
print("El índice de 'Luis' entre 2 y 6 es:", nombres.index("Luis", 2, 6))

Lista de nombres: ['karina', 'brigida', 'carlos', 'habraam', 'Luis', 'Sofía', 'Ana']
El índice de 'karina' es: 0
El índice de 'carlos' es: 2
El índice de 'brigida' es: 1
El índice de 'Sofía' es: 5
El índice de 'Luis' entre 2 y 6 es: 4

In [24]:
edades = (15, 18, 21, 16, 25, 18, 22, 30)

print("Tupla de edades:", edades)
print("Primera edad:", edades[0])
print("Última edad:", edades[-1])
print("Primeras 3 edades:", edades[:3])
print("Edades de 2 en 2:", edades[::2])
print("Edades invertidas:", edades[::-1])

Tupla de edades: (15, 18, 21, 16, 25, 18, 22, 30)
Primera edad: 15
Última edad: 30
Primeras 3 edades: (15, 18, 21)
Edades de 2 en 2: (15, 21, 25, 22)
Edades invertidas: (30, 22, 18, 25, 16, 21, 18, 15)