<a href="https://colab.research.google.com/github/brigidahuarcaya/Lenguaje-de-Programacion/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
dias=["Lunes","Martes","Miércoles","Jueves","Viernes","Sábado","Domingo"]
print(dias[1:4]) # Se extrae una lista con los valores 1, 2 y 3
print(dias[4:5]) # Se extrae una lista con el valor 4
print(dias[4:4]) # Se extrae una lista vacía
print(dias[:4]) # Se extrae una lista hasta el valor 4 (no incluido)
print(dias[4:]) # Se extrae una lista desde el valor 4 (incluido)
print(dias[:])  # Se extrae una lista con todos los valores

['Martes', 'Miércoles', 'Jueves']
['Viernes']
[]
['Lunes', 'Martes', 'Miércoles', 'Jueves']
['Viernes', 'Sábado', 'Domingo']
['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']

In [2]:
letras = ["A", "B", "C", "D", "E", "F", "G", "H"]
letras[1:4] = ["X"] #Se sustituye la sublista ['B','C','D'] por ['X']
print(letras)
letras[1:4]=["Y","Z"]#sustituye ['X','E','F'] por ['Y','Z']
print(letras)
letras[0:1] = ["Q"] # Se sustituye la sublista ['A'] por ['Q']
print(letras)
letras[3:3]=["U","V"]# Inserta la lista ['U','V'] en la posición 3
print(letras)
letras[0:3] = [] # Elimina la sublista ['Q','Y', 'Z']
print(letras)

['A', 'X', 'E', 'F', 'G', 'H']
['A', 'Y', 'Z', 'G', 'H']
['Q', 'Y', 'Z', 'G', 'H']
['Q', 'Y', 'Z', 'U', 'V', 'G', 'H']
['U', 'V', 'G', 'H']

In [3]:
letras = ["D", "E", "F"]
letras[3:3] = ["G", "H"]           # Añade ["G", "H"] al final de la lista
print(letras)
letras[100:100] = ["I", "J"]       # Añade ["I", "J"] al final de la lista
print(letras)
letras[-100:-50]=["A", "B", "C"] #Añade ["A", "B", "C"] al principio de la lista
print(letras)

['D', 'E', 'F', 'G', 'H']
['D', 'E', 'F', 'G', 'H', 'I', 'J']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [4]:
letras = ["A", "B", "C", "D", "E", "F", "G", "H"]
del letras[4]   # Elimina la sublista ['E']
print(letras)
del letras[1:4] # Elimina la sublista ['B', 'C', 'D']
print(letras)
del (letras[0:10])      # Elimina completamente la lista
print(letras)

['A', 'B', 'C', 'D', 'F', 'G', 'H']
['A', 'F', 'G', 'H']
[]

In [5]:
letras = ["A", "B", "C", "D", "E", "F", "G", "H"]
del letras[100:200] # No elimina nada
print(letras)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [9]:
a = 5
b = a # Hacemos una copia del valor de a
print(a, b)
a = 4 # de manera que aunque cambiemos el valor de a ...
print(a, b) # conserva el valor anterior de a en caso de necesitarlo

5 5
4 5

In [10]:
lista1 = ["A", "B", "C"]
lista2 = lista1 # Intentamos hacer una copia de la lista lista1
print(lista1, lista2)
del lista1[1]   # Eliminamos el elemento ['B'] de la lista lista1 ...
print(lista1, lista2) # también ha desaparecido de la lista lista2

['A', 'B', 'C'] ['A', 'B', 'C']
['A', 'C'] ['A', 'C']

In [11]:
lista1 = ["A", "B", "C"]
lista2 = lista1[:] # Hacemos una copia de la lista lista1
print(lista1, lista2)
del lista1[1] # Eliminamos el elemento ['B'] de la lista lista1
print(lista1, lista2)# lista2 sigue conservando el valor original de lista1

['A', 'B', 'C'] ['A', 'B', 'C']
['A', 'C'] ['A', 'B', 'C']

In [12]:
a=(1,2,3,4)
print(a)
b=(5,"cetpro",4.7,"A",-6.2)
print(b)

(1, 2, 3, 4)
(5, 'cetpro', 4.7, 'A', -6.2)

In [13]:
a=1,2,3,4
print(a)
b=5,"cetpro",4.7,"A",-6.2
print(b)

(1, 2, 3, 4)
(5, 'cetpro', 4.7, 'A', -6.2)

In [14]:
tup =(1,['a','e','i','o','u'],8.9,'hola')
print(tup)

(1, ['a', 'e', 'i', 'o', 'u'], 8.9, 'hola')

In [15]:
a=len((1, "a", 3.14))
print(a)

3

In [16]:
a=( )
print(a)
print(len(()))

()
0

In [17]:
a=(3)
print(3)
print(3,)
print(len((a,)))
print(len((6,)))

3
3
1
1

In [18]:
a = (1,2,3,4,5)
b = (6,7,8,9,10)
print(a,b)
c=a+b
print(c)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [19]:
a = (10,11,12)
print(a*3)

(10, 11, 12, 10, 11, 12, 10, 11, 12)

In [20]:
a = (10,11,12)
print(a*3)
print(7 in a)

(10, 11, 12, 10, 11, 12, 10, 11, 12)
False

In [21]:
a = (10,11,12)
print(a*2)
print(7 in a)
print(a.index(12))

(10, 11, 12, 10, 11, 12)
False
2

In [22]:
a = (10,11,12,10,15,10,11)
print(a)
print(15 in a)
print(a.count(10))

(10, 11, 12, 10, 15, 10, 11)
True
3

In [23]:
a = (10,11,12,10,15,10,11)
print(a)
print(a[3])
print(a[2])
print(a[4])

(10, 11, 12, 10, 15, 10, 11)
10
12
15

In [24]:
a = (10,11,12,13,14,15,16)
print(a[2:4])#Elementos desde el índice 2 hasta el índice 3-1
print(a[:])  # Todos los elementos
print(a[1:])  # Elementos desde el índice 1
print(a[:3])  # Elementos hasta el índice 3-1

(12, 13)
(10, 11, 12, 13, 14, 15, 16)
(11, 12, 13, 14, 15, 16)
(10, 11, 12)

In [25]:
a = (10,11,12,13,14,15,16)
print(a[2:4])#Elementos desde el índice 2 hasta el índice 3-1
print(a[:])  # Todos los elementos
print(a[1:])  # Elementos desde el índice 1
print(a[:3])  # Elementos hasta el índice 3-1

(12, 13)
(10, 11, 12, 13, 14, 15, 16)
(11, 12, 13, 14, 15, 16)
(10, 11, 12)

In [26]:
par = 2, 4, 6, 8, 10, 12, 14
print(par[::2])  #Acceso a los elementos de 2 en 2
print(par[1:5:2])#Elementos del índice 1 al 4 de 2 en 2
print(par[1:6:3])#Elementos del índice 1 al 5 de 3 en 3

(2, 6, 10, 14)
(4, 8)
(4, 10)

In [33]:

tupla = (1, ['a', 'b'], 'cetpro', 8.2)
tupla[1].append('c') #tupla[1] hace referencia
"alalista"
print(tupla)

(1, ['a', 'b', 'c'], 'cetpro', 8.2)